<div th:fragment="Head">

    <div class="row" style="background-color: aquamarine">

        <div class="col-1">
            <a href="/menu/admin"><h3>A</h3></a>
        </div>

        <div class="col-7" style="text-align: center">
            <a href="/menu"><h3>Clay Warehouse</h3></a>
        </div>

        <div class="col-1">
            <a href="/menu/loginpage"><h4>Login</h4></a>
        </div>

        <div class="col-1">
            <form method="post" th:action="@{/try-logout}">
                <button type="submit" class="btn btn-link">LogOut</button>
            </form>
        </div>

        <div class="col-1" style="text-align: center">
            <a style="text-align: center" href="/cart"><h3>Cart</h3></a>
        </div>

    </div>

</div>