<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>MENU</title>
</head>
<body>


<div th:replace="pages/headwh :: Head">
</div>

<br/>
<div class="row">
    <div class="col-1">
    </div>
    <!--кнопка для перехода в меню кабелей-->
    <div class="col-1">
        <form action="/cable" method="get">
            <button type="submit" name="CABLE">CABLES</button>
        </form>
    </div>
    <!--кнопка для перехода в меню Чехлов-->
    <div class="col-1">
        <form action="/case" method="get">
            <button type="submit" name="CASE">CASES</button>
        </form>
    </div>
    <!--кнопка для перехода в меню зарядок-->
    <div class="col-1">
        <form action="/charging" method="get">
            <button type="submit" name="CHARGING">CHARGINGS</button>
        </form>
    </div>
</div>

<br/>
Menu staring PAGE

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>